*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media(min-width:280px){
    .container{
        font-size:8px;
    }
    
    .am{
        font-size: .5rem;
    }
    .col .date {
        font-size: 1rem;
        font-weight: 800;
    }
}
@media(min-width:600px){
    .container{
        font-size:12px;
    }
    
    .am{
        font-size: 1rem;
    }
    .col .date {
        font-size: 1rem;
        font-weight: 800;
    }
}
@media(min-width:1024px){
    .container{
        font-size:20px;
    }
    
    .am{
        font-size: 2rem;
    }
    .col .date {
        font-size: 4rem;
        font-weight: 800;
    }
}
.container{
   width:60%;
   margin:auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    color: red;
   

}
.row{
    display: flex;
    padding: 2rem 0;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid #fff;
    
    padding: 2rem;
}
p{
    padding: 1rem 0;
    
}

.col{
   
    width: 20%;
}

.col div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.label{
    color: #fff;
}